{% extends 'base.html' %}

{% block title %}Search Engine{% endblock %}

{% block content %}
    <div class="w3-container w3-center w3-text-green" >
        <h1 style="font-size:100px;"><b>Search Engine</b></h1>
    </div>
    <div class="w3-container" >
        <div class="w3-panel w3-pale-green w3-leftbar w3-border-green w3-text-grey" style="max-width: 500px">
        <p>
        Currently the database with 2200 articles is provided.<br/>
        Indexing 1000 articles should take about 4-6 seconds.
        </p>
        </div>
    </div>
    <div class="w3-cell-row"  style="max-width:300px; margin: auto">
    <div class="w3-card-2 w3-center w3-cell" style="max-width:300px">
        <form class="w3-container w3-center" action="{% url 'search:start'%}" method="get">
            <p>
                <label for="articles_nr">How many articles to index:</label></p>
                <input class="w3-input" type="number" id="articles_nr" name="articles_nr" min="1" max="2200"><br>
            <p>
                <input class="w3-button w3-green" type="submit" value="index files"></p>
    </form>
    </div>
    </div>

{% endblock %}