{% extends 'base.html' %}

{% block title %}Search Query{% endblock %}

{% block content %}
    <div>Last chosen number of files is indexed. <br/>
        If you want to reindex files, bo back to /search page. <br/>
        Please take note that search can take a little longer when using svd option for the first time. </div>
    <br/>
    <form action="{% url 'search:find'%}" method="get">
          <label for="query">phrase to search for:</label>
        <input type="text" name="query" id="query"><br>
        <input type="radio" id="svd" name="svd_opt" value="yes">
          <label for="svd">use SVD</label>
        <input type="radio" id="no_svd" name="svd_opt" value="no">
          <label for="no_svd">no SVD</label><br>
          <label for="quantity">Get top n matching:</label>
        <input type="number" id="quantity" name="quantity" min="1"><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}